.layout-devise
  line-height: 1.2
  height: 100vh
  width: 100%
  display: flex
  color: $black
  .container-fluid
    margin: 0
    padding: 0
    .row
      height: 100%
      width: 100%
      margin: 0
      .devise-left
        display: flex
        align-items: center
        background-color: $theme
        .logo-area 
          margin: 0 auto
          margin-top: 60px
          max-width: 250px
          > img
            width: 100%
      .devise-right
        padding: 30px
        padding-bottom: 0
        display: flex
        align-items: center
        background-color: #F2F2FF
        .devise-main
          width: 100%
          .panel
            max-width: 500px
            margin: 0 auto
            .panel-header, .header
              font-size: 30px
              font-weight: bold
              margin-bottom: 10px
              a
                color: $black
                margin-right: 10px
            .back-btn
              color: $black
              margin-bottom: 30px
              font-size: 20px
              display: block
              cursor: pointer
            &.login-panel
              .login-wrapper
                padding: $general-padding
                .sub-header
                  font-size: 16px
                  font-weight: 600
                  margin-bottom: 10px
                  &.text-centered
                    text-align: center
                .form-wrapper
                  .row>*
                    padding: 0
                  .actions-wrapper
                    margin: 30px 0
            

// private classes
.layout-devise
  .panel-tabs
    .login-tabs
      .MuiTabs-fixed
        .MuiTabs-flexContainer
          background-color: #E2E4FF
          border-radius: 99px
          overflow: hidden
          > button
            flex: 1
            color: $black
            font-size: 16px
            min-height: unset
            &.Mui-selected
              background-color: $theme
              color: $white
              font-weight: bold
        .MuiTabs-indicator
          display: none

  .MuiFormControl-root
    width: 100%
    .MuiInputLabel-formControl
      color: #9d9da5 !important
      font-weight: 100
    .MuiInput-underline
      &::before
        border-bottom: 1px solid #9d9da5
      &:after
        border-bottom: 1px solid #9d9da5 !important
      &:hover:not(.Mui-disabled):before 
        border-bottom: 1px solid #9d9da5
    .MuiFormHelperText-root.Mui-error
      margin-bottom: 0
      margin-top: 5px
